@import "blueprint/reset";

.board
{
  margin: 0 auto;
  border-collapse: collapse;
  
  .col
  {
    &:nth-child(3n)
    {
      .field
      {
      border-bottom-color: red;   
      }
    }

    &:first-child
    {
      .field
      {
        border-top-color: red;   
      }
    }
  }
  
  
  .field
  {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    
    position: relative;
    
    &:first-child
    {
      border-left-color: red;
    }
    
    &:nth-child(3n)
    {
      border-right-color: red
    }
  }  
}

.number-picker
{
  border-collapse: collapse;
  position: absolute;
  top: 0;
  left: 0;
  background-color: whiteSmoke;
  .col
  {
    .field
    {
      border: 1px solid blue;
      text-align: center;
    }    
  }
}
